/* Estilo general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

#map {
    height: 400px; /* O la altura que necesites */
    width: 100%;
  }

.small-chart {
    width: 750px !important;
    height: 450px !important;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Tarjetas */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
}

.cardl {
    width: 100%; /* Asegura que la tarjeta use todo el espacio de la columna */
    max-width: 260px; /* Opcional, para limitar el tamaño máximo */
    margin: auto; /* Centra la tarjeta dentro de la columna */
}


.card-img-topl {
    width: 240px; /* Ajusta la imagen al ancho de la tarjeta */
    height: 320px; /* Mantiene una altura uniforme */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarla */
    background-color: transparent; 
    padding: 20px;
}

.row > .col-md-3, 
.row > .col-sm-6, 
.row > .col-12 {
    padding: 5px; /* Reduce el espacio horizontal y vertical entre columnas */
}

