{% extends 'base.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-primary mb-5">Bienvenido a Libronia</h1>
    <div class="alert alert-success text-center" role="alert">
        ¡Explora nuestras categorías y descubre nuevas lecturas!
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Categorías</h5>
                    <div class="row">
                        {% for categoria in categorias %}
                        <div class="col-md-4 col-sm-6 col-12 mb-2">
                            <!-- Enlace a la página de categoría -->
                            <a href="/categoria/{{ categoria|url_encode }}" class="list-group-item list-group-item-action">
                                {{ categoria }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info text-center mt-4" role="alert">
        ¡Sigue explorando y encuentra tu próxima lectura favorita!
    </div>
</div>
{% endblock %}
