{% extends 'base.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-primary mb-5">Categorías y Libros</h1>

    {% for categoria, libros in categorias %}
    <div class="categoria-section my-4">
        <h2 class="text-secondary">{{ categoria }}</h2>
        <div class="row justify-content-start">
            {% for libro in libros %}
            <div class="col-md-2 col-sm-3 col-4 mb-3">
                <div class="card shadow-sm">
                    <img src="{{ libro.imagen_url }}" class="card-img-top portada" alt="Portada de {{ categoria }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
